In [135]:
import pandas as pd

In [136]:
pl_season = 2022
pl_unique = (pl_season-2016)*1000

In [137]:
player_id = pd.read_csv(f"../data/{pl_season}-{pl_season-1999}/player_idlist.csv")

In [138]:
player_id.dtypes

first_name     object
second_name    object
id              int64
dtype: object

In [139]:
for x in player_id:
    player_id['unique'] = player_id['id'] + pl_unique
    unique_2022 = player_id

In [140]:
unique_2017

          first_name  second_name   id  unique
0              David       Ospina    1    1001
1               Petr         Cech    2    1002
2    Damian Emiliano     Martinez    3    1003
3            Laurent    Koscielny    4    1004
4                Per  Mertesacker    5    1005
..               ...          ...  ...     ...
642           Jordan       Hugill  622    1622
643          Patrice         Evra  626    1626
644           Marcus       Browne  631    1631
645             Josh         Pask  635    1635
646            Grady     Diangana  636    1636

[647 rows x 4 columns]

In [141]:
unique_2018

    first_name second_name   id  unique
0         Petr        Cech    1    2001
1        Bernd        Leno    2    2002
2      Laurent   Koscielny    3    2003
3       Héctor    Bellerín    4    2004
4        Nacho     Monreal    5    2005
..         ...         ...  ...     ...
619    Leander  Dendoncker  519    2519
620    Kortney       Hause  525    2525
621  Ryan John       Giles  555    2555
622        Max      Kilman  567    2567
623    Cameron        John  596    2596

[624 rows x 4 columns]

In [155]:
unique_2017.to_csv('unique2017.csv')
unique_2018.to_csv('unique2018.csv')
unique_2019.to_csv('unique2019.csv')
unique_2020.to_csv('unique2020.csv')
unique_2021.to_csv('unique2021.csv')
unique_2022.to_csv('unique2022.csv')

In [144]:
player_unique = unique_2017

In [152]:
player_unique = pd.concat([player_unique, unique_2022], ignore_index=True)

In [162]:
player_unique.to_csv('unique_id_test.csv', index = False, encoding = 'utf-8')

In [157]:
pl_test = player_unique

In [ ]:
data['comment'] = data['comment'].str.replace('[^\w\s]', '', regex=True)

In [158]:
pl_test.columns

Index(['first_name', 'second_name', 'id', 'unique'], dtype='object')

In [159]:
pl_test['first_name'] = pl_test['first_name'].str.replace('[^\w\s]', '', regex=True)
pl_test['second_name'] = pl_test['second_name'].str.replace('[^\w\s]', '', regex=True)